<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.treacydata"
        version     = "1.3.0" >

    <!-- versionCode is optional and Android only -->

    <name>Treacy Fencing</name>

    <description>
        Mobile Site Photos
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Jonathan Kur 
    </author>
 <preference name='phonegap-version' value='cli-7.1.0' />

<plugin name="cordova-plugin-camera">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow the app to use your camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="1.1.4" />
<plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
<plugin name="cordova-plugin-file" spec="^4.3.3"  />
<plugin name="cordova-plugin-whitelist" spec="1.3.1" />
  <plugin name="cordova-android-support-gradle-release" source="npm">
        <variable name="ANDROID_SUPPORT_VERSION" value="26.+" />
    </plugin>

<access origin="http://code.jquery.com" subdomains="true" />
<access origin="http://treacydata.com" subdomains="true" />
<icon src="icon.png" />
<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
</edit-config>
</widget>